extends layout

//-server error box
block content
  .alert.alert-danger(role="alert")
    h1
      = error.status
      | :&nbsp
      strong= error.message
      br
    | :-(
    pre.small.text-left #{error.stack}