mixin octicon(name, size)
  img.octicon(src="icons/octicons/" + name + ".svg" style="height: " + size + "px")

mixin spacer-br(height)
  div(style="height:" + height + "px"): br

mixin grey-ellipsis
  .grey-out(style="padding: 10px; line-height: 0")
    - let n = 3;
    while n--
      +spacer-br(1)
      +octicon("primitive-dot", 11)

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= (title ? title : "webchat") + (error ? " " + error.status : "")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
  body.text-center
    header
      h1.text-muted.mb-3 webchat
    main
      block content
    footer
      small.text-muted.pt-1
        br
        | on&nbsp
        a(href="https://github.com/douira/webchat") GitHub
        |  | by&nbsp
        a(href="https://twitter.com/douira100") douira
    block scripts

