body {
  padding: 2rem;
  padding-bottom: 0.5rem;
  background-color: #f9f9f9 !important;
}

#chat-box-frame {
  height: auto;
  border: solid 2px lightgrey;
}

.bg-white {
  background-color: white;
}

#input-box-frame {
  border-top: solid 2px lightgrey;
  height: 4rem;
}

.message {
  border-bottom: solid 1px lightgrey;
}

.left-text {
  float: left;
}
.right-text {
  float: right;
}

.hide-element {
  display: none;
}

#nameField {
  max-width: 25rem;
  margin: auto;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: lightgrey;
}

.grey-out {
  opacity: 0.4;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}